@import "../../../assets/styles/styles.scss";
.scroll-container {
	box-sizing: border-box;
	padding: $paddingSize-Small;
	background: transparent;
	.scroll--light-theme,
	.scroll {
		border-radius: $borderRadius-Small;
		background: var(--component-component-tertiary);
		width: 100%;
		height: 100%;
	}
	.scroll--dark-theme {
		background: var(--component-component-tertiary--dark);
	}
}
.scroll--horizontaly {
	width: 100%;
	height: 12px;
}
.scroll--verticaly {
	width: 12px;
	height: 100%;
}
