@import '../../../assets/styles/styles.scss';
  
section {
	padding: $paddingSize-Small;
	display: flex;
	gap: $gapSize-Small;
	width: auto;
	align-items: center;
	box-sizing: border-box;
	&:hover {
		color: var(--text-base-text-default);
		background: var(--background-bg-2);
		border-radius: $borderRadius-base;
	}
	.label-container {
		display: inline;
		align-items: center;
		box-sizing: border-box;
		text-align: left;
		width: 100%;
	}
}
.label--disabled--light-theme {
	pointer-events: none;
	.label-container {
		color: var(--state-disabled);
	}
}
.label--disabled--dark-theme {
	pointer-events: none;
	.label-container {
		color: var(--state-disabled--dark);
	}
}
.label--size--base {
	height: 24px;
	.label-container {
		@include font-base(14px, $iconSize-base);
	}
	.symbol-padding--left {
		padding-left: $iconSize-base;
	}
	.symbol-padding--right {
		padding-right: $iconSize-base;
	}
}
.label--size--mid {
	height: 32px;
	.label-container {
		@include font-base(18px, $iconSize-Mid);
	}
	.symbol-padding--left {
		padding-left: $iconSize-Mid;
	}
	.symbol-padding--right {
		padding-right: $iconSize-Mid;
	}
}
.label--size--large {
	height: 40px;
	.label-container {
		@include font-base(24px, $iconSize-Large);
	}
	.symbol-padding--left {
		padding-left: $iconSize-Large;
	}
	.symbol-padding--right {
		padding-right: $iconSize-Large;
	}
}
.label--size--extra-large {
	height: 48px;
	.label-container {
		@include font-base(32px, $iconSize-Extra-Large);
	}
	.symbol-padding--left {
		padding-left: $iconSize-Extra-Large;
	}
	.symbol-padding--right {
		padding-right: $iconSize-Extra-Large;
	}
}
.label--theme--light-theme {
	color: var(--text-base-text-default);
	&:hover {
		color: var(--text-base-text-default);
		background: var(--background-bg-2);
		border-radius: $borderRadius-base;
	}
}
.label--theme--dark-theme {
	color: var(--text-base-text-default--dark);
	&:hover {
		color: var(--text-tertiary-text-default);
		background: var(--background-bg-2--dark);
		border-radius: $borderRadius-base;
	}
}
.label-with-owner {
	.label-container {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&:hover {
		background: none;
		.label-container {
			overflow-wrap: break-word;
		}
	}
}
.label-without-owner {
	.label-container {
		text-align: left;
		word-break: break-all;
	}
}
