@import "../../../assets/styles/styles.scss";

.container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;

  &:hover {
    svg path {
      fill: var(--state-active);
    }
  }

  &:focus {
    border-radius: var(--Small, 2px);
    outline: 1px solid var(--state-active);
  }

  &:active {
    border-radius: var(--Small, 2px);
    background: var(--state-active-low-low-contrast);
  }

  &.with-owner {
    &:active {
      background: transparent;
    }
  }

  &.disabled {
    pointer-events: none;
    svg path {
      fill: var(--state-disabled);
    }
  }
}

.symbol-theme--dark-theme {
  svg path {
    fill: var(--component-component-tertiary);
  }

  &:hover {
    svg path {
      fill: var(--state-active--dark);
    }
  }

  &:focus {
    border-radius: var(--Small, 2px);
    outline: 1px solid var(--state-active--dark);
  }

  &:active {
    border-radius: var(--Small, 2px);
    background: var(--state-active-low-low-contrast--dark);
  }
}

.symbol-size--base {
  @include size-icon($iconSize-Base);
  svg {
    @include size-icon($iconSize-Base);
  }
}

.symbol-size--mid {
  @include size-icon($iconSize-Mid);
  svg {
    @include size-icon($iconSize-Mid);
  }
}

.symbol-size--large {
  @include size-icon($iconSize-Large);
  svg {
    @include size-icon($iconSize-Large);
  }
}

.symbol-size--extra-large {
  @include size-icon($iconSize-Extra-Large);
  svg {
    @include size-icon($iconSize-Extra-Large);
  }
}

.symbol-theme--disabled--dark-theme {
  pointer-events: none;
  svg path {
    fill: var(--state-disabled--dark);
  }
}
