@import "../../assets/styles/styles.scss";
.dropdown-container {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  &.dropdown-disabled{
    pointer-events: none;
  }
  &.dropdown-light-theme{
    &:focus {
      background: transparent;
      @include outline-style(1px solid var(--state-active), -1px, 4px);
    }
    &:active {
      outline: none;
    }
    &:hover{
      background: transparent;
      .label-dropdown{
        .label-container{
          color: var(--state-active)
        }
      }
      .footer-container{
        svg path{
          fill: var(--state-active);
        }
      }
    }
  }
  &.dropdown-dark-theme{
    &:focus {
      background: transparent;
      @include outline-style(1px solid var(--state-active--dark), -1px, 4px);
    }
    &:active {
      outline: none;
    }
    &:hover{
      background: transparent;
      .label-dropdown{
        .label-container{
          color: var(--state-active--dark)
        }
      }
      .footer-container{
        svg path{
          fill: var(--state-active--dark);
        }
      }
    }
  }
}
