@import "../../../assets/styles/styles.scss";
.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  .right-rectangle,
  .left-rectangle {
    height: 100%;
    border-radius: var(--default, 4px);
  }

  .right-rectangle {
    background-color: var(--component-component-tertiary);
  }

  .left-rectangle {
    position: absolute;
    top: 0;
    width: 0;
    background-color: var(--state-active);
    border-right: 1px solid var(--state-active-low-contrast);
  }

  .progress-bar--left--dark-theme {
    background: var(--state-active-low-contrast--dark);
  }

  .progress-bar--right--dark-theme {
    background: var(--text-tertiary-text-default--dark);
  }
}
