// Gap
$gapSize-Extra-Small: 2px;
$gapSize-Small: 4px;
$gapSize-base: 8px;
$gapSize-Mid: 16px;
$gapSize-Large: 24px;
$gapSize-Extra-Large: 32px;

// Padding
$paddingSize-Small: 4px;
$paddingSize-base: 8px;
$paddingSize-Mid: 16px;
$paddingSize-Large: 24px;
$paddingSize-Extra-Large: 32px;

// Module
$moduleSize-base: 8px;
$moduleSize-Small: 4px;
$moduleSize-Extra-Small: 2px;

// IconSize
$iconSize-Extra-Small: 4px;
$iconSize-Small: 8px;
$iconSize-base: 16px;
$iconSize-Mid: 24px;
$iconSize-Large: 32px;
$iconSize-Extra-Large: 48px;

// Indicator Size
$indicatorSize-base: 8px;
$indicatorSize-Mid: 12px;
$indicatorSize-Large: 16px;
$indicatorSize-Extra-Large: 24px;

// Border Radius
$borderRadius-base: 4px;
$borderRadius-Small: 2px;
$borderRadius-Mid: 8px;

// Typography
$textSize-h1: 32px;
$textSize-h2: 24px;
$textSize-h3: 18px;
$textSize-base: 14px;
$textSize-small: 12px;
$textSize-extra-small: 11px;