@import '../../assets/global-fonts/font-face.scss';
// Typography
h1 {
	font-family: Rubik;
	font-size: 32px;
}
h2 {
	font-family: Rubik;
	font-size: 24px;
}
h3 {
	font-family: Rubik;
	font-size: 18px;
}
p {
	font-family: Rubik;
	font-size: 14px;
}
